@media (max-width: 575.8px) {

  h1,
  .titulo-convocatoria {
    font-size: 40px;
    margin: 0 auto;
  }

  h2 {
    font-size: 26px;
  }

  .registro {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    height: 760px;
  }

  .media-kit {
    height: 460px;
    background-size: cover;
  }

  .identidad img {
    max-width: 320px;
    max-height: 320px;
    text-align: center;
  }

  .identidaddos {
    position: absolute;
    top: 350px;
  }

  .titulo-iconos {
    padding: 0px;
  }

  .navbar {
    height: 75px;
  }
}